page-room-detail{
  .room-detail {
    #three_canvas{
      position: fixed;
      width: 100%;
      padding: 0;
      z-index: -999;
    }
    #three_canvas img{
      width: 100%;
    }
    .brief_description{
      background-color: rgba(255,255,255,0.5);
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
    }
    .box{
      margin: 0 auto;
      border-bottom: dashed 0.5px rgba(0,0,0,0.3);
    }
    .box h5{
      color: red;
      opacity: 0.7
    }
    .box.box_rent{
      text-align: center;
    }
  }
}
